img{
    cursor:pointer
}
.navbar-expand-lg .navbar-nav .nav-link{
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.main_link{
    color: #000;
    text-decoration: none;
    transition:0.7s;
}
.main_link:hover{
    opacity: 0.7;
    color: #000;
    text-decoration: none;
    transition:0.7s;
}
.slick-prev{
    left: 0;
    z-index: 1 !important;
}
.slick-next{
    right: 0;
    z-index: 1 !important;
}
.slick-next:before, .slick-prev:before{
    font-size: 32px;
    color: rgba(0,0,0,0.8);
}
.jcc{
    justify-content: center !important;
}
.posts_row{
    border: 1px solid #ded8d8;
    border-radius: 5px;
}
.img_link{
    display: inline-block;
    overflow: hidden;
}
.img_link>img{
    transition:0.7s;
}
.img_link:hover >img{
    opacity: 0.8;
    transform: scale(1.5);
    transition:0.7s;
}
.main_title{
    position: relative;
}
.main_title:before{
    content: '';
    width: 70px;
    height: 3px;
    background-color: #dc3545;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 7px;
    border-radius:4px;
}
.main_title:after{
    content: '';
    width: 70px;
    height: 3px;
    background-color: #dc3545;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 7px;
    border-radius:4px;
}
.text_danger{
    color:#dc3545;
    transition:1s
}
a.text_danger:hover{
    color:#ff0000;
    text-decoration: none;
    transition:1s
}
.fixed-top{
    top: 0;
    width: 100%;
    z-index: 1;

}
.red{
    color: red;
    opacity: 0.6;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.ui.segment.page-loader{
    margin: 0;
}
.error{
    color: red;
}
.page-loader {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: rgba(255, 255, 255, 0.9) !important;
    position: fixed !important;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    transition: background-color 5000s ease-in-out 0s;
    /*-webkit-box-shadow: 0 0 0 30px white inset;*/
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-bottom-color: #343a40;
    background-color: #343a40;
}
img.avatar{
    border-radius:10px;
}
.nav-link{
    cursor: pointer;
}
.red:hover{
    opacity: 1;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.form-control-plaintext {
    border-bottom: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-control-plaintext:focus {
    outline: none;
    border-bottom: 1.5px solid #ab3744;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.green{
    color: forestgreen;
    opacity: 0.6;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.success{
    color: forestgreen;
}
.orange{
    color: orange;
    opacity: 0.6;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.orange:hover{
    opacity: 1;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.green:hover{
    opacity: 1;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

img{
    cursor: pointer;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.h_full{
    padding-bottom: 50px;
}
.page-item.active .page-link{
    background-color: #dc3545;
    border-color: #dc3545;
}
.page-link:focus{
    box-shadow:none ;
}
.page-link{
    color:#dc3545;
}
.page-link:hover{
    color:#a7303b;
}
/* SCROLL */
/* Track */
::-webkit-scrollbar-track {
    background: #343a40;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #dc3545 !important;
}
